html{
    height: 100%;
}

body{
    min-height: 100%;
    background-image: linear-gradient(rgba(255,255,255, 0.5), rgba(255,255,255, 0.8)), url('../img/bg-tile3.jpg');
    background-repeat: repeat;
}

#navbarTop{
    background-color: #810000;
}

#navbarContent{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

div#dresses-content-container{
    display: flex;
    min-height: 56vh;
    flex-direction: column;
    justify-content: space-between;
    visibility: hidden;
}

.avatar-img{
    display: block;
    width: 25px;
    height: 25px;
}